* {
  padding: 0;
  margin: 0;
}

h1 {
  text-align: center;
}
.cv__img {
  display: flex;
  justify-content: center;
}
.containers {
  margin: 0 20rem;
}
li {
  margin-left: 2rem;
}
footer {
  text-align: center;
}
.desc_forma {
  color: rgb(118, 118, 118);
  font-size: 14px;
  margin-left: .5rem;
}

.footer__img {
  height: 2rem;
  padding-right: 1rem;
}
